/* AlertItem.js */

.alert-item {
    background: #393d47;
    padding: 5px;
    padding-right: 30px;
    float:left;
    margin: 10px;
    border-radius: 5px;
    position: relative;
}

.operations {
    position: absolute;
    float: right;
    top: 5px;
    right: 0; 
}

.operations button {
    background: transparent;
    border: none;
    color: #61dafb;
    cursor: pointer;
}
.operations .icon.edit {
    width: 25px;
}

.operations .icon.remove {
    width: 20px;
}

.editFormContainer {
    background: #282c34;
    padding: 5px;
    border-radius: 5px;
    width: 100%;
    margin-left: 2%;
}